* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body, html {
  background-image: url('/public/images/image-13.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

h1, 
.label, 
.subtext,
.btn-large,
.btn-small {
  font-weight: bold;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.label {
  font-size: 25px;
}

.subtext {
  font-size: 35px;
  font-weight: 400;
}

.home,
.uxdesign {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.rectangle {
  width: 1500px;
  height: 752px;
  background: white;
  border-radius: 50px;
  text-align: center;
  margin: 40px;
}

.btn-small {
  width: 180px;
  height: 57px;
  background: #DEDEDE;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}

.btn-small.active {
  background: #0073CF;
  color: white;
}

.btn-large {
  width: 474px;
  height: 91px;
  background: #0073CF;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  text-align: center;
  margin: 5%;
  color: white;
}

#business {
  margin-inline-start: 15px;
}